.row{
    margin-top: 20px;
    margin-bottom: 30px;
}

.card {
    width: 25rem;
    height: 25rem;
}

.card img{
    margin-top: 10px;
    width: 40%;
    height: auto;
    align-self: center;
}




/* page d'un pokémon en détail */
.section img {
    margin-right: 20px;
    margin-bottom: 50px;
}

.section h1,
.section h2,
.section p {
    width: 100%;
}

.section h1, h2{
    margin-bottom: 30px;
}

@media (max-width: 576px) {
    .section {
        flex-direction: column;
    }

    .section img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .section h1,
    .section h2,
    .section p {
        width: 100%;
    }
}